@import "./components/mixins";

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

html, body {
    width: 100%;
    font-family: 'Gotham';
    font-weight: 300;
    overflow-x: hidden;
 }

.container{
    max-width: 1118px;
    padding: 0;
    margin: 0 auto;

    @include media(mobile){
        max-width: 360px;
    }

    @media(max-width: 320px){
        max-width: 300px;
        padding: 0 20px;
    }
}
.row{
    justify-content: space-between;

    @include media(mobile){
        justify-content: center;
    }
}