@import "./components/colors";
@import "./components/typograph";

#banner {
    padding-top: 48px;

    .container {
        @include media(mobile) {
            max-width: 100%;
        }
    }

    .social {
        position: fixed;
        left: 10%;
        right: 0px;
        top: 200px;

        @include media(mobile) {
            left: -10%;
        }

        .container{
            margin: 0;
        }

        ul {
            list-style-type: none;

            li {
                &:nth-child(even) {
                    margin: 24px 0;
                }
            }
        }
    }
}

#novidades,
#mais-lidos {
    .posts {
        padding: 0;


        .post {
            width: 344px;
            height: 504px;
            margin-bottom: 54px;
            padding: 0;
            background: $white;

            .content {
                padding: 0 15px;
            }


            .thumbnail {
                display: block;
                width: 100%;
                max-height: 263px;
                margin-bottom: 21px;
                padding: 0;
            }

            .category {
                text-transform: uppercase;
                color: $red;
                @include fontBold(14px, 12px);
            }

            .title {
                @include fontBold(25px, 20px);
                width: 342px;
                color: $black-text;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .post-author {
                padding: 1px 0;
                color: $black-text;
                margin-bottom: 20px;

                .name {
                    text-transform: uppercase;
                    @include fontLight(12px, 12px);
                    margin-right: 10px;

                }

                .data {
                    @include fontBook(12px, 12px);
                }
            }

            .description {
                @include fontLight(14px, 14px);
                color: $gray-text;
                line-height: 20px;
                width: 342px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .post-full {
            width: 324px;
            height: 471px;
            margin-bottom: 104px;
            background-size: cover;
          
            a{
                display: block;
                height: 471px;
                padding: 100% 15px 0 15px;

                @include media(mobile) {
                    padding: 80% 15px 0;
                    margin-bottom: 30px;
                }
            }

            .title,
            .post-author {
                color: $white;
            }
        }

        .banner {
            margin: 71px 0 96px 0;
            padding: 0;

            img {
                width: 100%;
            }

            @include media(mobile) {
                margin: 30px 0 30px 0;
            }
        }
    }


}

#novidades {
    margin-bottom: 70px;
}

#mais-lidos {
    .post-full {
        &:nth-child(2) {
            margin-top: 50px;
        }
    }
}

#newsletter {
    margin-bottom: 76px;

    @include media(mobile) {
        text-align: center;
    }

    .container {
        max-width: 915px;

        @include media(mobile) {
            max-width: 360px;
        }
    }

    .desc-news {
        @include fontBold(25px, 25px);
        color: $black-text;

    }
}

#conteudo {

    @include media(desktop) {
        display: flex;
        height: 134px;
        align-items: center;
    }

    .container {
        max-width: 953px;

        @include media(mobile) {
            text-align: center;
            max-width: 360px;
        }

        .row {
            align-items: center;
        }

        .title-conteudo {
            color: $gray-dark;
            @include fontBold(20px, 16px);
        }

        .description-conteudo {
            @include fontRegular(14px, 14px);
            line-height: 20px;
            color: $gray-text;
        }
    }
}